@import "@/imports.css";

.container {
    display: grid;

    grid-template-areas:
        "header"
        "nav"
        "main";
    row-gap: 32px;

    @media (--large-viewport) {
        grid-template-areas:
            "header header"
            "nav main";
        column-gap: 64px;
    }
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;

    position: sticky;
    top: 0;
    background: white;

    height: 60px;
    display: flex;
    align-items: center;

    @media (--large-viewport) {
        align-items: stretch;
        padding-block: 32px;
        width: fit-content;
        height: fit-content;

        --direction: column;
    }
}

.main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (--medium-viewport) {
        padding-block: 16px;
    }
}
