@import "@/imports.css";

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav body";
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto;

    margin: auto;

    max-width: 1024px;

    @media (--medium-viewport) {
        max-width: 600px;
    }

    @media (--small-viewport) {
        max-width: 250px;
    }
}

.header {
    grid-area: header;
}

.navContainer {
    grid-area: nav;
}

.nav {
    position: sticky;
    top: 0;
}

.body {
    grid-area: body;
}
