@import "@/imports.css";

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 64px;
    row-gap: 32px;

    @media (--small-viewport) {
        grid-template-columns: auto;
        row-gap: 16px;
    }
}

.details {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.splitter {
    grid-column: 1 / -1;
    margin-inline: 128px;
    border-top: 1px solid var(--purple-50);
}

.linkWrapper {
    text-align: left;
}

.employerLink {
    text-decoration: none;
    color: var(--purple-50);

    transition: color var(--animation-default);

    &:hover,
    &:focus,
    &:focus-within {
        color: var(--purple-500);
        text-decoration: underline;
    }
}

.employerLogo {
    height: 16px;

    @media (--small-viewport) {
        display: none;
    }
}

.employerName {
    @media (--large-viewport) {
        display: none;
    }
    @media (--medium-viewport) {
        display: none;
    }
}
