@import "@/imports.css";

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 64px;
    row-gap: 16px;

    @media (--small-viewport) {
        display: none;
    }
}

.details {
}

.splitter {
    grid-column: 1 / -1;
    margin-inline: 128px;
    border-top: 1px solid var(--purple-50);
}
