/*
    CSS variables for overriding styles:
        # --flatlist-padding: sets the padding;
        # --flatlist-margin: sets the margin;
        # --flatlist-gap: sets the (flexbox) gap property
*/
.container {
    list-style: none;
    margin: var(--flatlist-margin, 0);
    padding: var(--flatlist-padding, 0);
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--flatlist-gap, 8px);
}
