@import "@/imports.css";

.container {
    display: flex;
    align-items: center;
}

.title {
    flex-basis: 150px;
    flex-shrink: 0;
    color: var(--grey-500);
}

.list {
    list-style: none;
    margin: var(--flatlist-margin, 0);
    padding: var(--flatlist-padding, 0);
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--flatlist-gap, 8px);
}
