.container {
    border-top: 1px solid black;
    padding-block: 16px;

    &:first-child {
        border: none;
    }
}

.heading {
    font-size: 18px;
    font-weight: 400;
}

.description {
    --description-font-size: 12px;

    --description-base-size: var(--description-font-size);
    font-size: var(--description-font-size);
}

.skillsHeading {
    display: inline-block;
}

.skillsList {
    --flatlist-padding: 0 16px;
}

.keyResponsibilitiesList {
    margin: 0;
    padding: 0 24px;
}
