@import "@/imports.css";

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 100%;

    @media (--medium-viewport) {
        flex-direction: column-reverse;
        gap: 16px;
    }

    @media (--small-viewport) {
        flex-direction: column-reverse;
    }
}

.textSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media (--medium-viewport) {
        padding-inline: 24px;
    }

    @media (--small-viewport) {
        padding-inline: 8px;
    }
}

.linkList {
    display: flex;
    gap: 8px;
}

.headerTitle {
    text-align: left;
    margin: 0;
    grid-area: title;
}

.headerDetails {
    text-align: left;
    margin-block: 16px 0;
    grid-area: details;
}

.headerImage {
    grid-area: image;
    align-self: center;
    max-width: 100%;

    @media (--small-viewport) {
        align-self: center;
    }
}
