@import "@/imports.css";

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 16px;
    row-gap: 8px;

    @media (--small-viewport) {
        display: none;
    }
}

.details {
    padding-block: 8px;
    padding-inline: 16px;
    border: 1px solid black;
    border-radius: 8px;
}
